* {
    margin: 0;
    padding: 0;
}

#valueCol {
    position: relative;
    width: 38px;
    height: 21px;
    margin-left: 163px;
    margin-top: 565px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #000000;
}

.table {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #010201;
    position: absolute;
    width: 1116px;
    height: 159px;
    left: 125px;
    top: 546px;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    border-radius: 15px;
}