* {
  margin: 0;
  padding: 0;
}

#tableComponent {
  background-color: #ffffff;
  position: absolute;
  width: 1116px;
  height: 159px;
  top: 546px;
  left: 125px;
  gap: 0px;
  opacity: 0px;
  margin: 1em;
  border-radius: 15px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

#valueCol,
#dateCol,
#observationCol,
#typeCol {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000000;
  padding: 5px;
  text-align: left;
}
#valueRes,
#dateRes,
#obsRes,
#typeRes {
  padding: 10px;
  text-align: left;
}

#valueCol {
  left: 38px;
  position: relative;
}

#valueRes{
  left: 38px;
  position: relative;
}

#dateCol {
  left: 155px;
  position: absolute;
}

#dateRes{
  left: 155px;
  position: absolute;
}

#observationCol {
  left: 292px;
  position: absolute;
  text-align: left;
}

#obsRes {
  left: 292px;
  position: absolute;
  max-width: 450px;
  overflow-x: auto;
}

#typeCol {
  left: 774px;
  position: absolute;
}

#typeRes {
  left: 774px;
  position: absolute;
  text-align: left;
}

.table {
  width: 1116px;
  border-spacing: 0;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #010201;
  left: 125px;
  top: 546px;
  justify-content: center;
  border-radius: 15px;
}

.response {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #010201;
  width: 1116px;
  left: 125px;
  top: 570px;
  border-radius: 15px;
}


.actionDel {
  top: 50;
  left: 1000px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}