.tableComponent {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.tablePt1,
.tablePt2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.valueCol,
.typeCol, .actions{
    padding: 10px 20px 5px 20px;
}
.dateCol{
    padding: 10px 50px 5px 50px;
}
.obsCol{
    padding: 10px 20px 5px 30px;
}

.response {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-style: normal;
    justify-content: space-between;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #0889a3 #ffffff;
}

.responseRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.valueRes,
.dateRes,
.obsRes {
    padding-left: 20px;

}
.valueRes{
    justify-content: center;
    padding: 10px 20px 5px 20px;;
    width: 50px;
    max-width: auto;
    overflow-x: auto;
}
.dateRes{
    justify-content: center;
    padding: 10px 20px 5px 20px;
    width: 100px;
    max-width: auto;
    overflow-x: auto;
}
.obsRes{
    padding: 10px 20px 5px 30px;
    width: 650px;
    max-width: auto;
    overflow-x: auto;overflow-x: auto;

}

.typeDespesa, .typeReceita{
    padding-right: 20px;
    width: 150px;
    max-width: auto;

}

.typeReceita {
    color: #203cbb;
    
}
.typeDespesa {
    color: #ad2525;
    
}

.actionDel {
    width: 50px;
    border: none;
    cursor: pointer;
}