.registerComponent{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    padding: 20px;
}

.título{
    font-weight: 700;
    font-style: normal;
}

fieldset{
    border: 0;
}

input {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.campo{
    display: flex;
    flex-direction: column;
}

.campoInput{
    margin-bottom: 20px;
    padding: 10px;
    color: #7A869A;
    border-radius: 8px;
    border: solid  0.1rem #7A8694;
}

.campo input[type="date"]{
    width: 90%;
}

.campoMov{
    margin-bottom: 10px;
}
.campoMov label{
    margin-left: 10px;
    margin-right: 10px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    width: 138px;
    height: 40px;
    font-size: 1.2em;
    background: #0881A3;
    border: 0;
    border-radius: 15px;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
}

.botao:hover {
    background: #3a7c79;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.error-message{
    color: red;
}