* {
    margin: 0;
    padding: 0;
}

.registerComponent {
    background-color: #f3f3f3;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #010201;
    position: absolute;
    width: 458px;
    height: 362px;
    left: 125px;
    top: 159px;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    border-radius: 15px;
}

#titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #380B61;
    position: relative;
    width: 190px;
    height: 34px;
    left: 160px;
    top: 189px;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
}


/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input,
button {
    font-family: sans-serif;
    font-size: 1em;
    color: #010201;
    border-radius: 5px;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #010201;
    display: block;
}

.campoMov {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campoMov label {
    margin-bottom: 0.1em;
    color: #010201;
    display: inline;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset .campo {
    float: left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"],
input[type="number"],
input[type="date"],
input[typer="radio"] {
    padding: 0.1em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #469999;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 10px;
    left: 350px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #3a7c79;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}