.chartComponent {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    height: 90%;
}

.tituloChart{
    font-weight: 700;
    font-style: normal;
}

.chartBar{
    margin-left: 0;
}
