.dashboardContainer {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    padding: 20px 125px;
    gap: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin: 20px;
}

.register {
    background-color: #ffffff;
    width: 458px;
    height: 343px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.chart {
    background-color: #ffffff;
    width: 583px;
    height: 362px;
    border-radius: 15px;
    margin: 10px
}

.table {
    /* background-color: #ffffff; */
    width: 100%;
    height: 159px;
    border-radius: 15px;
}

.titleContainer {
    width: 100%;
    text-align: flex-start;
}